ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #154001;
}

li {
  float: left;
  text-decoration: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a{
  text-decoration: none;
}

/* Change the color to dark green on hover */
li a:hover {
  background-color: #062601;
  text-decoration: none;
  color: white;
}

/* Change color to dark green for current page*/
.active {
  background-color: #062601;
}

.button {
  background-color: #03588C;
  color: white;
  text-align: center;
}

.button:hover{
  background-color:rgb(2, 71, 114);
}